<html>
    <head>
        <title></title>
    </head>
    <body>
        <a href="/login?_locale=en">{{ 'label.english'|trans }}</a> |
        <a href="/login?_locale=es">{{ 'label.spanish'|trans }}</a>
        <br />

        {% if errors is defined and errors is not empty %}
            <ul>
            {% for error in errors %}
                {% for message, context in error %}
                    <li>{{ message }}</li>
                {% endfor %}
            {% endfor %}
            </ul>
        {% endif %}

        <form method="POST" action="/login?_locale={{ app.request.query.get('_locale', 'en') }}">
            <label for="username">{{ 'labe.username'|trans }}:</label>
            <input id="username" type="text" name="username" value="{% if username is defined and username is not empty %}{{ username }}{% endif %}"/> <br />
            <label for="password">{{ 'labe.password'|trans }}:</label>
            <input id="password" type="password" name="password" /> <br />
            <input type="submit" value="{{ 'label.submit'|trans }}!" />
        </form>
    </body>
</html>
